# Remove project files
.idea/
*.DS_Store
# Remove private project files
PrivateConfig.php
test.php
App/Models/DBException.php
App/Models/DBHandler.php
App/Models/DBQueryMaker.php
closure-compiler.jar
node_modules/
package-lock.json
Projects/*
logs/*
tmp/*
