/** Background colors & other enhancements */
body{
    background-color: lightyellow;
}

nav{
    background-color: palegoldenrod !important;
    border: 0 !important;
    border-radius: unset !important;
    box-shadow: 0 0 30px 30px palegoldenrod;
}

nav .active>a, nav .open>a{
    background-color: darkkhaki !important;
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: lemonchiffon !important;
}

thead>tr:first-child{
    background-color: lavender;
}

/** Others */

html, body, .container-table {
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
    color: #777;
    cursor: default;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


.title a{
    color: unset;
    text-decoration: none !important;
}

td, th{
    vertical-align: middle !important;
}

th{
    width: max-content;
}

a.link{
    text-decoration: underline;
}

a, a:hover, a:active, a:visited{
    color: #111 !important;
}

.navbar-brand {
    font-family: monospace;
}

.navbar-toggle {
    background-color: lightgoldenrodyellow;
}

.navbar-toggle:hover {
    background-color: darkkhaki !important;
}

.icon-bar {
    width: 15px !important;
}

.unread-count{
    background-color: orangered;
    color: lightgoldenrodyellow;
    border-radius: 2px;
    padding: 1px;
    position: relative;
    top: -10px;
    left: -5px;
}

.center{
    text-align: center;
}

#accn_gin {
    font-family: monospace;
}
