.node {
    font-family: sans-serif;
}

.internal-node circle, .internal-node ellipse, .internal-node rect{
    fill: #CCC;
    stroke: black;
    stroke-width: 0.5px;
}

.branch {
    fill: none;
    stroke: #999;
    stroke-width: 2px;
}

.background {
    cursor: default !important;
}